*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2f2f2f;
}

canvas{
    display: block;
    margin: auto;
    margin-top: 100px;

    background-color: black;
}