.stopwatch{
    font-size: 35px;
    color: white;
    /* word-spacing: 7px;   not working? idk why*/ 
}

#rematchButton , #welcomeButton{
    color: black;
    font-size: 2vw;
    background-color: aquamarine;
    border-radius: 7px;
    padding: 12px 16px;
    cursor: pointer;
}

.hidden{
    display: none;
}
#gameOverMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgb(218, 164, 164); */
    /* color: black; */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
#rematchButton , #welcomeButton {
    margin-top: 20px;
}

#welcomeMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgb(218, 164, 164); */
    /* color: black; */
    background-color: white;
    padding: 20px 55px;
    border-radius: 10px;
    text-align: center;
}


.msg{
    font-size: 4vw;
    text-align: center;
    color: black;
}
.instructions{
    font-size: 1.5vw;
    text-align: center;
    color: black;
}
